body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: rgb(79, 0, 0);
    background: radial-gradient(circle, rgba(79,0,0,1) 0%, rgba(0,0,0,1) 100%);
    line-height: 1.3 !important;
    font-family: 'Teko', sans-serif;
}

/* HEADER */
.navbar-brand{
    font-size: 65px;
    font-weight: bold;
    color: #f88f01;
}
.navbar-brand:hover{
    color: hsl(34, 91%, 56%);
}

.navbar-style{
    margin-left: 12px;
}

.navbar-style a{
    color: white;
    font-size: 23px;
    font-weight: 500;
}
.navbar-style a:hover{
    color: hsla(0, 0%, 100%, 0.699);
}



.fas, .fab{
    color: white;
}

.fas, .fab a:hover{
    color: hsla(0, 0%, 100%, 0.699);

}
/* HEADER */

h2{
    color: #f88f01;
    text-transform: uppercase;
    font-size: 5em;
}

h3{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 2em;
}

button{
    width: 40%;
    height: 5rem;
    margin-bottom: 2rem;
}

hr{
    background-color: white;
}

p{
    color: white;
    margin-bottom: 3rem;
}

@media (max-width: 320px){
    button{
        display: none;
    }

    .navbar-expand-md .container{
        display: flex;
        flex-direction: column;
    }

    .navbar-brand {
        font-size: 55px;
    }

    .navbar-style a {
        font-size: 30px;
    }

    .navi{
        display: flex;
        flex-direction: inherit;
    }
    .navi .navi-li{
        padding-right: 1rem;
    }

    .carousel-control-prev-icon{
        display: none;
    }

    .carousel-control-next-icon{
        display: none;
    }


    .sec {
        padding-top: 3rem;
    }

    .sec .text{
        padding-top: 5rem;
        position: initial;
    }

    .sec .text h3{
        text-align: center;
        font-size: 3rem;
    }

    .sec .text p{
        text-align: justify;
        padding: 0 1rem;
        font-size: 120%;
    }

    .burguer{
    font-size: 40px;
    left: 2rem;
    top: 1rem;
    }

    .carousel-item .img1{
        left: 51px;
    }

    .fries{
        font-size: 50px;
        left: 5rem;
        bottom: 1rem;
    }

    .carousel-item .img3{
        left: 7rem;
        width: 60% !important;
    }

    .icons{
        flex-direction: initial;
        padding-left: 13rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .icons .fa-facebook{
        margin-right: 1rem;
    }

}




@media (min-width: 360px) and (max-width: 755px){ 
    button{
        display: none;
    }

    .navbar-expand-md .container{
        display: flex;
        flex-direction: column;
    }

    .navbar-brand {
        font-size: 55px;
    }

    .navbar-style a {
        font-size: 30px;
    }

    .navi{
        display: flex;
        flex-direction: inherit;
    }
    .navi .navi-li{
        padding-right: 1rem;
    }

    .carousel-control-prev-icon{
        display: none;
    }

    .carousel-control-next-icon{
        display: none;
    }


    .sec {
        padding-top: 3rem;
    }

    .sec .text{
        padding-top: 5rem;
        position: initial;
    }

    .sec .text h3{
        text-align: center;
        font-size: 3rem;
    }

    .sec .text p{
        text-align: justify;
        padding: 0 1rem;
        font-size: 120%;
    }

    .burguer{
    font-size: 65px;
    left: 2rem;
    top: 1rem;
    }

    .carousel-item .img1{
        left: 51px;
    }

    .fries{
        font-size: 50px;
        left: 5rem;
        bottom: 2rem;
    }

    .carousel-item .img3{
        left: 7rem;
        width: 60% !important;
    }

    .icons{
        flex-direction: initial;
        padding-left: 13rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .icons .fa-facebook{
        margin-right: 3rem;
    }
}



@media (min-width: 1024px) and (max-width: 742px){ 
    .navbar-brand {
        font-size: 95px;
    }

    .navbar-style a {
        font-size: 33px;
    }

    .burguer{
        font-size: 10005px;
        left: 3rem;
    }

    .fries{
        font-size: 120px;
        left: 3rem;
        bottom: 6rem;

    }


    h1{
        font-size: 4em
    }
}